/* =====================================================================
  -> HEADER
===================================================================== */
.header {
  &__container {
    margin-right: var(--spacer-32);
  }
}
///////////////////////////////////////////////////////////////////////
//  NAV
.nav-menu {
  &__brand {
    text-decoration: none;

    &-mark {
      margin-right: var(--spacer-16);
    } // -> .nav-menu__brand-mark

    &-text {
      color: var(--color-primary);
    } // -> .nav-menu__brand-text
  } // -> .nav-menu__brand
} // -> .nav-menu

.nav-social {
  margin-left: auto;
} // -> .nav-social
