/* =====================================================================
  -> HEADER
===================================================================== */
.header {
  &__container {
    margin-right: var(--spacer-32);

    @include respond-to('small--l') {
      margin-right: 0;
    }
  }
}
///////////////////////////////////////////////////////////////////////
//  NAV
.nav-menu {
  &__brand {
    text-decoration: none;

    &-mark {
      height: 1.5rem;
      margin-right: var(--spacer-8);
      fill: var(--color-primary);
    } // -> .nav-menu__brand-mark

    &-text {
      color: var(--color-primary);
    } // -> .nav-menu__brand-text
  } // -> .nav-menu__brand
} // -> .nav-menu

.nav-social {
  margin-left: auto;

  path {
    // fill: var(--color-primary);
    transition: fill 250ms;
  }

  &__icon-box {
    &:focus {
      outline: 2px solid transparent;
    }

    &:hover,
    &:focus {
      path {
        fill: var(--color-secondary--light);
      }
    }
  }
} // -> .nav-social
