/* =====================================================================
  -> MAIN
===================================================================== */
.main {
  margin-right: var(--spacer-32);

  @include respond-to('small--l') {
    margin-right: 0;
    margin-bottom: var(--spacer-56);
  }
} // -> .main

///////////////////////////////////////////////////////////////////////
//  ACTIONS
.actions {
  &__title {
    opacity: 0;
    visibility: hidden;

    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  &__mask {
    overflow: hidden;
  }

  &__container {
    opacity: 0;
    visibility: hidden;

    max-width: 60ch;
  }

  &__list-title {
    margin-bottom: 1.5rem;
  }

  &__item {
    background: none no-repeat left top;
    background-image: url('../images/brandmark__bullet.svg');
    background-position: 0 6px;

    padding-left: 1.5rem;
    margin-bottom: 1rem;

    &--email {
      background-position-y: 7px;

      @include respond-to('small--l') {
        background-position-y: 6px;
      }
    }
  } // -> .actions__item
} // -> .actions
