/* =====================================================================
  -> BUTTON
===================================================================== */
// Fix for detecting 'click' events on SVG in <button>.
// button > * {
//   pointer-events: none;
// }

///////////////////////////////////////////////////////////////////////
//  ANIMATIONS
@include animation-path(line-in-available, 316, 0);
@include animation-path(line-out-available, 0, 316);
@include animation-path(line-in-play, 96, 0);
@include animation-path(line-out-play, 0, 96);
@include animation-path(line-in-send-form, 91, 0);
@include animation-path(line-out-send-form, 0, 91);

///////////////////////////////////////////////////////////////////////
//  BUTTON
// TODO: Refactor HTML and CSS to eliminate .button__svg-line--primay and .button__svg-line--secondary and use .button__primary and .button__secondary
.button {
  $line-pos-bottom: 10px;
  $line-pos-left: 5px;

  position: relative;
  background-color: transparent;
  border: none;
  color: var(--color-secondary);

  margin: 0 1rem;
  padding: 0 1rem;

  &::before {
    content: '';
    position: absolute;
    bottom: $line-pos-bottom;
    left: $line-pos-left;

    height: 4px;
    width: 1.5rem;
    background-color: var(--color-secondary--light);
  } // -> .button::before

  &__secondary {
    margin-right: 0;

    &--icon:nth-last-child(2) {
      margin-left: 4px;
    }

    &::before {
      bottom: calc(#{$line-pos-bottom} - 4px);
    }
  }

  &__form {
    color: var(--color-primary--dark);
    transition: color 250ms var(--easing--s);

    &::before {
      left: -1rem;
      background-color: var(--color-secondary--lighter);
    }

    &:hover,
    &:focus {
      color: var(--color-secondary--lighter);
    }
  }

  &__svg-line {
    position: absolute;
    left: $line-pos-left;

    @include respond-to('small--m') {
      width: 100%;
    }

    path {
      stroke: var(--color-secondary--light);
    }

    &--primary {
      bottom: $line-pos-bottom;

      @include respond-to('large--l') {
        left: 28px;
      }

      path {
        stroke-dasharray: 316;
        stroke-dashoffset: 316;
        animation: line-out-available 350ms var(--easing--xl) forwards;
      } // -> .button__svg-line--path
    }

    &--secondary {
      bottom: calc(#{$line-pos-bottom} - 4px);

      path {
        stroke-dasharray: 96;
        stroke-dashoffset: 96;
        animation: line-out-play 250ms var(--easing--s) forwards;
      } // -> .button__svg-line--path
    }

    &--form {
      bottom: $line-pos-bottom;
      left: -1rem;

      @include respond-to('large--l') {
        left: -6px;
      }

      path {
        stroke-dasharray: 91;
        stroke-dashoffset: 91;
        animation: line-out-send-form 250ms var(--easing--s) forwards;

        stroke: var(--color-secondary--lighter);
      } // -> .button__svg-line--path
    }
  } // -> .button__svg-line

  &:focus {
    outline: 2px solid transparent;
  }

  &:hover,
  &:active,
  &:focus {
    .button {
      &__svg-line {
        &--primary {
          path {
            animation: line-in-available 350ms var(--easing--xl) forwards;
          }
        }

        &--secondary {
          path {
            animation: line-in-play 250ms var(--easing--s) forwards;
          }
        }

        &--form {
          path {
            animation: line-in-send-form 250ms var(--easing--s) forwards;
          }
        }
      } // -> button:hover .button__svg-line
    } // -> button:hover .button
  } // ->  button:hover
} // -> .button
