// TODO: Move font rules to _typography.scss
// TODO: Move layout rules to _layout.scss

// FORM RESET -- Making all elements looks the same on different brosers.
.form {
  &__field {
    background-color: var(--color-primary);
    border: none;
    padding: 0.2rem 0.25rem 0.25rem 0;

    font-family: inherit;
    color: var(--color-secondary--lighter);

    // fallback for issue on mobile iOS where if the field text is not at least 16 pixels, it will cause a zoom into the field.
    font-size: 18px;
    // Capitalized to prevent Sass thinking it's the Sass max()
    font-size: Max(18px, 1.125rem);

    max-width: 100%;

    &:not(input) {
      line-height: inherit;
      height: 5rem;
    }

    &::placeholder {
      color: var(--color-primary--dark);
      transition: 250ms color var(--easing--s);
      opacity: 1;
    } // -> .form__field::placeholder
  } // -> .form__field

  &__button {
    border: none;
    background-color: transparent;
    font-family: var(--font-secondary);
    font-size: dc_calculate-rem(20);
    text-transform: uppercase;
    padding: 0;
    cursor: pointer;

    @media screen and (-ms-high-contrast: active) {
      border: 2px solid currentColor;
    }
  } // -> .form__button
} // -> .form -> Reset End

// FORM STYLES
.contact {
  // Workaround to use rgba with CSS Custom Properties
  --primary-dark: 17, 6, 107; // RGB value for --color-primary--dark
  --color-bg-form: rgba(var(--primary-dark), 0.7);
  // background-color: var(--color-bg-form);

  overflow: hidden;
  opacity: 0;
  z-index: 0;
  // transition: opacity 150ms var(--easing--s);

  &--active {
    opacity: 1;
    z-index: 4;
  } // -> .contact__active

  &-container {
    height: 100%;
    max-width: 44rem;
    margin-left: auto;

    background: var(--color-primary);
    padding: 3rem 6rem 0;
    transform: translateX(44rem);
    transition: transform 600ms var(--easing--s);

    @include respond-to('large--l') {
      padding: 3rem 4.5rem 0;
    }

    @include respond-to('small--l') {
      padding: 2.5rem 3.5rem 0;
    }

    @include respond-to('small--xs') {
      padding: 1.8rem 2rem 0;
    }

    &--active {
      transform: translateX(0);
    }
  } // -> contact-container

  &__title {
    margin-bottom: 4rem;

    @include respond-to('large--l') {
      margin-bottom: 3rem;
    }
  } // -> contact__title
} // -> contact

.form {
  &__group {
    display: flex;

    @include respond-to('small--xs') {
      display: block;
    }

    position: relative;
    z-index: 1;

    margin-top: 1rem;

    &:nth-last-child(2) {
      margin-top: 3rem;
    }

    &:last-child {
      margin-top: 2rem;
    }

    &--area {
      display: block;
    } // -> form__container--area

    label {
      font-size: dc_calculate-rem(18);
      color: var(--color-secondary--lighter);
      margin-right: 0.5rem;
      white-space: nowrap;
    } // -> form__container label

    textarea {
      min-width: 100%;
    } // -> form__container textarea
  } // -> form__group

  &__container-field {
    position: relative;

    display: block;
    width: 100%;
  }

  &__field {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color-primary--dark);
    color: var(--color-secondary--lighter);
    transition: 250ms all var(--easing--s);
    transition-property: border, color;

    &:focus {
      border-bottom: 1px solid var(--color-secondary--lighter);
      outline: 2px solid transparent;
      color: var(--color-secondary--lighter);
      // transition-property: color;

      &::placeholder {
        color: var(--color-secondary--lighter);
      }
    } // -> form__field:focus

    &.error {
      &::placeholder {
        color: var(--color-error);
      }
    }
  } // -> form__field

  &__error-message {
    position: absolute;
    z-index: 10;
    bottom: -32px;
    left: 0;

    font-family: var(--font-primary--semibold);
    font-size: 16px;
    color: #fff;
    padding: 0.3rem 1rem;
    background: var(--color-error);
    white-space: nowrap;

    transition: opacity 500ms var(--easing--s);

    &:before {
      content: '';
      position: absolute;
      top: -12px;
      left: 0;

      border-bottom: 12px solid var(--color-error);
      border-right: 12px solid transparent;
    } // -> form__error-message:before

    span {
      display: flex;
      overflow: hidden;
    }

    p {
      transform: translateY(22px);
      transition: transform 250ms var(--easing--xl);
    }

    &.slide-in {
      p {
        transform: translateY(0);
      }
    }
  } // -> form__error-message
} // -> form
