.is-loading {
  background-color: var(--color-secondary);
}

.is-loading .header,
.is-loading .main,
.is-loading .works,
.is-loading .contact {
  display: none;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: fixed;
  min-height: 100vh;
  width: 100vw;
  z-index: 2;

  background-color: var(--color-secondary);

  &__brandmark-mask,
  &__logotype-mask {
    position: absolute;
    overflow: hidden;
    visibility: hidden;
  }

  &__brandmark,
  &__logotype {
    display: inline-block;
  }

  &__brandmark {
    height: 4rem;
    width: auto;
    fill: var(--color-primary);
  }

  &__logotype {
    font-family: var(--font-secondary--italic);
    font-size: dc_calculate-rem(48);
    color: var(--color-primary);
  }
}
