/* =====================================================================
  -> FONTS
===================================================================== */
///////////////////////////////////////////////////////////////////////
//  SPACE MONO FAMILY
@font-face {
  font-family: 'space-mono_regular';
  font-display: swap;
  src: url('../fonts/spacemono-regular.woff2') format('woff2'),
    url('../fonts/spacemono-regular.woff') format('woff'),
    url('../fonts/spacemono-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'space-mono_italic';
  font-display: swap;
  src: url('../fonts/spacemono-italic.woff2') format('woff2'),
    url('../fonts/spacemono-italic.woff') format('woff'),
    url('../fonts/spacemono-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'space-mono_bold-italic';
  font-display: swap;
  src: url('../fonts/spacemono-bolditalic.woff2') format('woff2'),
    url('../fonts/spacemono-bolditalic.woff') format('woff'),
    url('../fonts/spacemono-bolditalic.ttf') format('truetype');
}

///////////////////////////////////////////////////////////////////////
//  BYORHYME FAMILY
@font-face {
  font-family: 'biorhyme_regular';
  font-display: swap;
  src: url('../fonts/biorhyme-regular.woff2') format('woff2'),
    url('../fonts/biorhyme-regular.woff') format('woff'),
    url('../fonts/biorhyme-regular.ttf') format('truetype');
}

///////////////////////////////////////////////////////////////////////
//  WORK SANS FAMILY
@font-face {
  font-family: 'worksans_regular';
  font-display: swap;
  src: url('../fonts/worksans-regular.woff2') format('woff2'),
    url('../fonts/worksans-regular.woff') format('woff'),
    url('../fonts/worksans-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'worksans_semibold';
  font-display: swap;
  src: url('../fonts/worksans-semibold.woff2') format('woff2'),
    url('../fonts/worksans-semibold.woff') format('woff'),
    url('../fonts/worksans-semibold.ttf') format('truetype');
}

/* =====================================================================
  -> GENERAL
===================================================================== */
body {
  font-family: var(--font-primary);
  font-size: inherit;
  font-weight: inherit;
  line-height: dc_calculate-lh(24, 16);
}

/* =====================================================================
  -> HEADINGS
===================================================================== */
h1 {
  font-family: var(--font-headings);
  font-size: dc_calculate-rem(108);
  line-height: dc_calculate-lh(128, 108);
  color: var(--color-secondary);
  @include dc_text-properties;
}

h2 {
  font-family: var(--font-headings);
  font-size: dc_calculate-rem(64);
  line-height: dc_calculate-lh(72, 64);
  text-transform: uppercase;
  @include dc_text-properties;
}

/* =====================================================================
  -> PARTIALS
===================================================================== */
//////////////////////////////////////////////////////////////////////
//  HEADER > NAV
.nav-menu {
  &__brand-text {
    font-family: var(--font-secondary--italic);
    font-size: dc_calculate-rem(24);
    line-height: dc_calculate-lh(24, 24);
    @include dc_text-properties;
  }
}

//////////////////////////////////////////////////////////////////////
//  MAIN > ACTIONS
.actions {
  font-size: dc_calculate-rem(18);
  line-height: dc_calculate-lh(24, 18);
  @include dc_text-properties;
}

//////////////////////////////////////////////////////////////////////
//  MAIN > TESTIMONIAL
.testimonial {
  font-family: var(--font-secondary--italic);
  font-size: dc_calculate-rem(16);
  line-height: dc_calculate-lh(24, 16);
  @include dc_text-properties;

  &__client {
    font-family: var(--font-secondary--bold-italic);
    font-size: dc_calculate-rem(14);
    line-height: dc_calculate-lh(16, 14);
    @include dc_text-properties;
  }

  &__url {
    font-size: dc_calculate-rem(14);
    line-height: dc_calculate-lh(16, 14);
    @include dc_text-properties;
  }
}

/* =====================================================================
  -> COMPONENTS
===================================================================== */
//////////////////////////////////////////////////////////////////////
//  BUTTON
.button {
  font-family: var(--font-secondary);
  font-size: dc_calculate-rem(20);
  line-height: dc_calculate-lh(28, 20);
  text-transform: uppercase;
  cursor: pointer;
  @include dc_text-properties;
}
