:root {
  /* =====================================================================
    -> COLOR PALETTE
  ===================================================================== */ ////////////
  // Primary
  --color-primary: hsl(247, 90%, 74%);
  --color-primary--light: hsl(247, 90%, 92%);
  --color-primary--dark: hsl(247, 90%, 22%);

  // Secondary
  --color-secondary: hsl(178, 90%, 56%);
  --color-secondary--light: hsl(178, 90%, 90%);
  --color-secondary--lighter: hsl(178, 90%, 96%);
  --color-secondary--dark: hsl(178, 90%, 10%);

  /* =====================================================================
    -> MARGINS AND PADDINGS
  ===================================================================== */
  // Base 16
  --spacer-4: 0.25rem;
  --spacer-8: 0.5rem;
  --spacer-16: 1rem;
  --spacer-24: 1.5rem;
  --spacer-32: 2rem;
  --spacer-40: 2.5rem;
  --spacer-48: 3rem;
  --spacer-64: 4rem;
  --spacer-72: 4.5rem;
  --spacer-80: 5rem;
  --spacer-96: 6rem;
  --spacer-112: 7rem;
  --spacer-128: 8rem;
  --spacer-160: 10rem;
  --spacer-176: 11rem;
  --spacer-192: 12rem;
  --spacer-208: 13rem;
  --spacer-256: 16rem;

  /* =====================================================================
    -> FONTS
  ===================================================================== */
  --font-headings: 'biorhyme_regular', serif;
  --font-primary: 'worksans_regular', sans-serif;
  --font-primary--semibold: 'worksans_semibold', sans-serif;
  --font-secondary: 'space-mono_regular', monospace;
  --font-secondary--italic: 'space-mono_italic', monospace;
  --font-secondary--bold-italic: 'space-mono_bold-italic', monospace;

  /* =====================================================================
    -> MIX CSS CUSTOM PROPERTIES
  ===================================================================== */
  --easing--xl: cubic-bezier(0.8, 0, 0.2, 1);
  --easing--s: cubic-bezier(0.5, 0.7, 0.4, 1);
} // -> :root
